/* CSS para estilização básica */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #007bff;
    transform: translateY(-3px);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin: 0;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    padding: 12px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    }

/* Estilo aprimorado para a lista de livros */
#book-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.book-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.book-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.book-title {
    font-weight: bold;
    color: #007bff;
}

.book-author {
    font-style: italic;
    color: #666;
}

/* Estilo para a div .select-book */
.select-book {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.select-book label {
    margin-right: 10px;
    font-size: 18px;
}

.select-book input[type="number"] {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    width: 100px;
}

.select-book button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.select-book button:hover {
    background-color: #0056b3;
}

/* Estilo para o card de detalhes do livro */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

/* Estilo para os títulos dos detalhes do livro */
.card h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para os detalhes individuais do livro */
.card p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilo para o texto em negrito */
.card strong {
    font-weight: bold;
    margin-right: 5px;
}
